{% extends 'layout.html.twig' %}

{% set page_title = 'Profiel bijwerken' %}

{% block body_root %}
    <div class="profile hero row">
        <div class="container">
            <h1>Hey {{ personal.shortname ?? personal.canonical }}!</h1>
            <h3>We willen graag extra gegevens van je hebben. Vul deze hier in.</h3>
        </div>
    </div>
    <div class="profile card row">
    {% block body %}
        <div class="form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="button-group">
                    <button type="submit">Opslaan</button>
                    <a class="button" href="/">Andere keer</a>
                </div>
            {{ form_end(form) }}
        </div>
    {% endblock %}
    </div>
{% endblock %}

