{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Gebeurtenislog' %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Tijd</th>
                </tr>
            </thead>
            <tbody>
            {% for event in log %}
                <tr>
                    <td>{{ event.time|date('d-m-Y H:i') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen gebeurtenissen.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
