{% extends 'layout.html.twig' %}

{% set page_title = 'Inloggen' %}

{% block body %}
<div class="mx-auto max-w-6xl px-5 mb-5">
    <form method="post" class="items-center bg-gradient-to-b from-zinc-700 to-zinc-900 rounded shadow-2xl text-white flex flex-col h-96 justify-center mx-auto max-w-72 p-5 w-full">
        <h3 class="font-extrabold text-3xl mb-auto">
            {% if app.user %}Log opnieuw in{% else %}Inloggen{% endif %}
        </h3>
        <label for="inputUsername" class="w-full mt-2">E-mailadres</label>
        <input type="email" value="{{ last_username }}" name="_username" id="inputUsername" class="w-full text-black" placeholder="E-mailadres" required autofocus>
        <label for="inputPassword" class="w-full mt-2">Wachtwoord</label>
        <input type="password" name="_password" id="inputPassword" class="w-full text-black" placeholder="Wachtwoord" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Onthoud mij
                </label>
            </div>
        #}

        <button class="bg-white text-black rounded px-5 py-3 mb-auto mt-5" type="submit">
            Log in
        </button>
        {% if not app.user %}
            <a href="{{ path('password_request') }}">Wachtwoord vergeten</a>
        {% endif %}
        {% if oidc %}
        <a href="{{ path('app_login') }}">Log in met extern account</a>
        {% endif %}
    </form>
</div>
{% endblock %}
