{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Inventaris' %}
    
    {% block top %}
        {% embed 'admin/listview.html.twig' %}
            {% set resultcount = items|length %}
        {% endembed %}
    {% endblock %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen items.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
