parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\Admin\\\\EventController\\:\\:paginate\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/Admin/EventController.php

		-
			message: "#^Parameter \\#1 \\$array of function current expects array\\|object, mixed given\\.$#"
			count: 1
			path: src/Controller/Admin/EventController.php

		-
			message: "#^Property App\\\\Entity\\\\Activity\\\\Activity\\:\\:\\$imageFile \\(Symfony\\\\Component\\\\HttpFoundation\\\\File\\\\File\\) does not accept Symfony\\\\Component\\\\HttpFoundation\\\\File\\\\File\\|null\\.$#"
			count: 1
			path: src/Entity/Activity/Activity.php

		-
			message: "#^Parameter \\#1 \\$option of method App\\\\Entity\\\\Activity\\\\Registration\\:\\:setOption\\(\\) expects App\\\\Entity\\\\Activity\\\\PriceOption, null given\\.$#"
			count: 1
			path: src/Entity/Activity/PriceOption.php

		-
			message: "#^Parameter \\#1 \\$data of class App\\\\Entity\\\\Order constructor expects array\\<int\\>, array\\<int\\<0, max\\>, float\\|int\\<\\-25, 25\\>\\> given\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Return type \\(string\\|null\\) of method App\\\\Entity\\\\Security\\\\LocalAccount\\:\\:getUsername\\(\\) should be covariant with return type \\(string\\) of method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getUsername\\(\\)$#"
			count: 1
			path: src/Entity/Security/LocalAccount.php

		-
			message: "#^Offset 'joinTable' does not exist on array\\{cache\\?\\: array, cascade\\: array\\<string\\>, declared\\?\\: class\\-string, fetch\\: mixed, fieldName\\: string, id\\?\\: bool, inherited\\?\\: class\\-string, indexBy\\?\\: string, \\.\\.\\.\\}\\.$#"
			count: 2
			path: src/EventListener/DoctrineTablePrefixListener.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$value\\.$#"
			count: 1
			path: src/GraphQL/Types/DatetimeScalar.php

		-
			message: "#^Method App\\\\GraphQL\\\\Types\\\\DatetimeScalar\\:\\:parseLiteral\\(\\) should return string but returns DateTime\\.$#"
			count: 1
			path: src/GraphQL/Types/DatetimeScalar.php

		-
			message: "#^Parameter \\#1 \\$datetime of class DateTime constructor expects string, mixed given\\.$#"
			count: 1
			path: src/GraphQL/Types/DatetimeScalar.php

		-
			message: "#^Property App\\\\Log\\\\AbstractEvent\\:\\:\\$person is never written, only read\\.$#"
			count: 1
			path: src/Log/AbstractEvent.php

		-
			message: "#^Property App\\\\Log\\\\AbstractEvent\\:\\:\\$time is never written, only read\\.$#"
			count: 1
			path: src/Log/AbstractEvent.php

		-
			message: "#^Parameter \\#1 \\$entity of method App\\\\Log\\\\EventService\\:\\:getClassName\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: src/Log/Doctrine/EntityEventListener.php

		-
			message: "#^Parameter \\#1 \\$entity of method App\\\\Log\\\\EventService\\:\\:getIdentifier\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: src/Log/Doctrine/EntityEventListener.php

		-
			message: "#^Unable to resolve the template type T in call to method App\\\\Log\\\\EventService\\:\\:getClassName\\(\\)$#"
			count: 1
			path: src/Log/Doctrine/EntityEventListener.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: src/Log/EventService.php

		-
			message: "#^Parameter \\#1 \\$className of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:find\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: src/Log/EventService.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:find\\(\\)$#"
			count: 1
			path: src/Log/EventService.php

		-
			message: "#^Only booleans are allowed in an if condition, int\\|false given\\.$#"
			count: 1
			path: src/Reflection/ClassNameService.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, string\\|null given\\.$#"
			count: 1
			path: src/Reflection/ClassNameService.php

		-
			message: "#^App\\\\Reflection\\\\ReflectionService\\:\\:__construct\\(\\) does not call parent constructor from Doctrine\\\\Persistence\\\\Mapping\\\\RuntimeReflectionService\\.$#"
			count: 1
			path: src/Reflection/ReflectionService.php

		-
			message: "#^Method App\\\\Reflection\\\\ReflectionService\\:\\:getAccessibleProperty\\(\\) has parameter \\$propertyName with no type specified\\.$#"
			count: 1
			path: src/Reflection/ReflectionService.php

		-
			message: "#^Method App\\\\Reflection\\\\ReflectionService\\:\\:getAllProperties\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Reflection/ReflectionService.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Reflection/ReflectionService.php

		-
			message: "#^Method App\\\\Repository\\\\RegistrationRepository\\:\\:countPresent\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/Repository/RegistrationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\RegistrationRepository\\:\\:findAfter\\(\\) should return App\\\\Entity\\\\Order but returns App\\\\Entity\\\\Order\\|null\\.$#"
			count: 1
			path: src/Repository/RegistrationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\RegistrationRepository\\:\\:findBefore\\(\\) should return App\\\\Entity\\\\Order but returns App\\\\Entity\\\\Order\\|null\\.$#"
			count: 1
			path: src/Repository/RegistrationRepository.php

		-
			message: "#^Parameter \\#1 \\$s of static method App\\\\Entity\\\\Order\\:\\:create\\(\\) expects string, App\\\\Entity\\\\Order\\|null given\\.$#"
			count: 2
			path: src/Repository/RegistrationRepository.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, string given\\.$#"
			count: 1
			path: src/Template/AttributeMenuExtension.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Template/AttributeMenuExtension.php

		-
			message: "#^Cannot call method getId\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Tests/AuthWebTestCase.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Tests/AuthWebTestCase.php

		-
			message: "#^Cannot call method invalidate\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Tests/AuthWebTestCase.php

		-
			message: "#^Cannot call method save\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Tests/AuthWebTestCase.php

		-
			message: "#^Cannot call method set\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Tests/AuthWebTestCase.php

		-
			message: "#^Service \"Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\SessionInterface\" is not registered in the container\\.$#"
			count: 2
			path: src/Tests/AuthWebTestCase.php

		-
			message: "#^Parameter \\#1 \\$content of method App\\\\Entity\\\\Mail\\\\Mail\\:\\:setContent\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Tests/Database/Mail/MailFixture.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 2
			path: src/Tests/TestData.php

		-
			message: "#^Call to function is_array\\(\\) with \\*NEVER\\* will always evaluate to true\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Call to function is_callable\\(\\) with callable\\(\\)\\: mixed will always evaluate to true\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Call to function is_object\\(\\) with X of object will always evaluate to true\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Cannot clone array\\|T of object\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Method App\\\\Tests\\\\TestData\\:\\:buildFromData\\(\\) should return T of object but returns array\\|T of object\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Method App\\\\Tests\\\\TestData\\:\\:buildPermutations\\(\\) should return array\\<array\\{properties\\: array, actions\\: array\\<callable\\(\\)\\: mixed\\>\\}\\> but returns array\\<array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Method App\\\\Tests\\\\TestData\\:\\:create\\(\\) should return App\\\\Tests\\\\TestData\\<X of object\\> but returns App\\\\Tests\\\\TestData\\<object\\>\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<TKey of \\(int\\|string\\), mixed\\> given\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Only booleans are allowed in a negated boolean, mixed given\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Parameter \\#1 \\$initial of class App\\\\Tests\\\\TestData constructor expects T of object, array given\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Tests/TestData.php

		-
			message: "#^Symfony\\\\Component\\\\DomCrawler\\\\Form does not accept Symfony\\\\Component\\\\HttpFoundation\\\\File\\\\UploadedFile\\.$#"
			count: 1
			path: tests/Functional/Controller/Admin/ActivityControllerTest.php

		-
			message: "#^Method Tests\\\\Functional\\\\Controller\\\\Security\\\\LoginControllerTest\\:\\:setupOidc\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: tests/Functional/Controller/Security/LoginControllerTest.php

		-
			message: "#^Method Tests\\\\Functional\\\\GraphQL\\\\QueryTest\\:\\:graphqlQuery\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Functional/GraphQL/QueryTest.php

		-
			message: "#^Method Tests\\\\Functional\\\\GraphQL\\\\QueryTest\\:\\:graphqlQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Functional/GraphQL/QueryTest.php
