{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Mails' %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                </tr>
            </thead>
            <tbody>
            {% for mail in mails %}
                <tr>
                    <td>{{ mail.title }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen mails.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
