<div class="table">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                {% for key in scheme.keys %}
                    <th>{{ key.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in objects|sort((a, b) => a.id <=> b.id) %}
            <tr>
                <td><a href="{{ path("admin_person_show", { 'id': object.id }) }}">{{ object.id }}</a></td>
                {% for value in scheme.keys|map(x => object.getValue(x)) %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td>Geen objecten met dit schema.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>