{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Declaraties' %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Auteur</th>
                    <th>Doel</th>
                    <th>Bedrag</th>
                </tr>
            </thead>
            <tbody>
            {% for claim in claims %}
                <tr>
                    <td>{{ claim.createdAt }}</td>
                    <td>{{ claim.author }}</td>
                    <td>{{ claim.purpose }}</td>
                    <td>{{ claim.price }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen declaraties.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
