{% extends 'organise/activity/layout.html.twig' %}

{% set page_title = 'Bewerk ' ~ activity.name %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit">Opslaan</button>
                <a href="{{ path('organise_activity_show', { 'id': activity.id }) }}">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}