{% extends 'layout.html.twig' %}

{% block body_root %}
    <div class="container row">
        <span class="top">
            {% block top %}
            <h3>{{ page_title }}</h3>
            <span class="buttons">
            {% block buttons %}
            {% endblock %}
            </span>
            {% endblock %}
        </span>
        {% block body_wrap %}
        <div class="card">
        {% block body %}
        {% endblock %}
        </div>
        {% endblock %}
    </div>
{% endblock %}