{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Nieuwe token genereren voor ' ~ client.id %}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit" class="button add icon">Toevoegen</button>
                <a href="{{ path('admin_security_client_index') }}" class="button secondary">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
