
<div class="form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button type="submit">Opslaan</button>
        </div>
    {{ form_end(form) }}
</div>