<div class="table">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons|sort((a, b) => a.canonical <=> b.canonical) %}
            <tr>
                <td><a href="{{ path("admin_person_show", { 'id': person.id }) }}">{{ person.canonical }}</a></td>
                <td>{{ person.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Geen personen.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>