{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Overzicht' %}

{% block body_root %}
<div class="container">
    <h2>{{ page_title }}</h2>
</div>
<div class="container row">
    <span>Ga naar <a href="{{ path('admin_activity_index') }}">activiteiten</a>.</span>
</div>
{% endblock %}
