<h3>{{ page_title }}</h3>
<div class="subtop">
    {% block results %}
    {% if resultcount is defined %}
    <span class="subtitle">{{ resultcount }} resultaten gevonden</span>
    {% endif %}
    {% endblock %}
    <span class="buttons">
    {% block buttons %}
    {% endblock %}
    </span>
</div>