
.cardholder {
    margin            : $padding * -0.5;
}

.registrations {
    .card {
        box-shadow: none;
    }

    @include breakpoint(medium) {
        margin-top: -140px;
        z-index: 3;
    }
}

.activity {
    width: 100%;
    height: 20rem;
    display: block;
    position: relative;
    color: white;
    background-color: gray;

    * {
        word-break: break-word;
    }

    &.organise {
        height: 130px;
    }
    
    .cardholder & {
        width        : calc(100% - #{$padding});
        margin        : $padding * 0.5;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        border-radius: $global-radius;
        overflow: hidden;
        transition: box-shadow .5s linear;

        img {
            transition: all 1s ease-in;
        }

        &:hover {
            box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.7);

            img {
                transition: all 4s ease-out;
                transform: scale(1.25, 1.25);
            }

            .container * {
                color: white;
                //text-decoration: underline;

            }
        }
    }

    &.hero {
        margin-top: -$padding;
        margin-bottom: $padding * 1.5;
        height: 70vh;

        .buttons {
            margin-top: $padding * 0.5;
            margin-bottom: -1.75 * $padding;

            .grow {
                .content {
                    padding: 0 $padding / 2;
                    background-color: #0c0;
                    color: black;
                    width: max-content;
                    overflow-y: scroll;
                    max-height: 60vh;
                }

                &:active, &:hover, &:focus {
                    background-color: white;
                    .content {
                        background-color: white;
                    }
                }
            }
        }

        @include breakpoint(large) {
            height: 60vh;
        }
    }
    
    & > * {
        position: absolute;
    }

    .container {
        width: 100%;
        left: 0;
        right: 0;
        bottom: $padding;

        * {
            margin-bottom: 0;
            display: table;
        }
    
        h2 {
            font-size: 2rem;
        }

        span {
            display: block;
        }
    }
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    
        &.bw {
            filter: blur(5px) grayscale(100%);
        }

        &.filter {
            filter: contrast(5%) brightness(0.5) grayscale(100%);
        }
    
        &.over {
            filter: saturate(2);
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.1));
        }
    }

    @mixin color_filter($deg) {
        filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate($deg);
    }

    &.red {
        background-color: red;

        img.filter {
            @include color_filter(320deg);
        }
    }

    &.orange {
        background-color: orange;

        img.filter {
            @include color_filter(350deg);
        }
    }
    
    &.yellow {
        background-color: yellow;

        img.filter {
            @include color_filter(10deg);
        }
    }

    &.green {
        background-color: green;

        img.filter {
            @include color_filter(80deg);
        }
    }
    
    &.cyan {
        background-color: cyan;

        img.filter {
            @include color_filter(120deg);
        }
    }
    
    &.ltblue {
        background-color: deepskyblue;

        img.filter {
            @include color_filter(150deg);
        }
    }

    &.blue {
        background-color: blue;

        img.filter {
            @include color_filter(180deg);
        }
    }
    
    &.purple {
        background-color: purple;

        img.filter {
            @include color_filter(210deg);
        }
    }
    
    &.pink {
        background-color: magenta;

        img.filter {
            @include color_filter(290deg);
        }
    }
}