.profile {
    &.hero {
        margin-top: -$padding;
        margin-bottom: $padding;
        height: 40vh;
        width: 100%;
        display: block;
        position: relative;
        color: white;
        background-color: #3377ee;

        .container {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        h1 {
            font-size: 2.25rem;
        }
        
        @include breakpoint(large) {
            height: 50vh;

            h1 {
                font-size: 3rem;
            }
        }
    }

    &.card {
        max-width: 800px !important;
        margin-top: -2 * $padding;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: $padding;
    }
}