{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Extra groep bij ' ~ relation.root.person.canonical ~ ' in ' ~ relation.root.group.name %}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit" class="button add icon">Toevoegen</button>
                <a href="{{ path('admin_group_show', { 'id': relation.group.id }) }}" class="button secondary">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
