{% extends 'admin/layout.html.twig' %}

{% if relation.root.id == relation.id %} 
    {% set page_title = personReg.find(relation.root.personId).canonical ?? 'Onbekend' ~ ' uit ' ~ relation.group.name ~ ' verwijderen'  %}
{% else %}
    {% set page_title = relation.group.name ~ ' verwijderen voor ' ~ personReg.find(relation.root.personId).canonical ?? 'Onbekend' ~ ' uit ' ~ relation.root.group.name %}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        <div>
            <p>
                Weet je dit zeker?
                {% if relation.root.id == relation.id and relation.allRelations|length > 1 %}
                    <br />
                    <i>LET OP: Dit verwijdert ook alle subrelaties</i>
                {% endif %}
            </p>
        </div>
        {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit">Ja, verwijder</button>
                <a class="button" href="{{ path('admin_group_show', { 'id': relation.group.id }) }}">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
