{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Activiteit "' ~ activity.name ~ '" activeren'  %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        <div>
            <p>Weet je dit zeker?</p>
        </div>
        {{ form_widget(form) }}
            <div class="button-group">
                <button class="rounded px-4 py-3 text-white bg-green-500 inline-block" type="submit">Ja, activeer</button>
                <a class="rounded px-4 py-3 text-white bg-gray-500 inline-block" href="{{ path('admin_activity_show', { 'id': activity.id }) }}">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
