{% extends 'layout.html.twig' %}

{% set page_title = group.name %}

{% block body_root %}
<div class="container row">
    {% if activities %}
        <div class="cardholder">
            <div class="grid-x large-up-2">
                {% for activity in activities %}
                    <div class="cell">
                        <a href="{{ path("organise_activity", { 'id': activity.id }) }}" class="activity">
                            {% if activity.image.name %}
                                <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="bw">
                            {% endif %}
                            <div class="container">
                                <h2>{{ activity.name }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Geen activiteiten, kom later terug!</p>
    {% endif %}
</div>
{% endblock %}
