.button, button {
    background-color: gray;
    color: white;
    display: inline-block !important;
    padding: .5rem 1rem;
    border-radius: $global-radius;
    cursor: pointer;
    line-height: 1.5;
    
    &.disabled, &[disabled] {
        cursor: not-allowed;
    }
    
    &.confirm, &.add, &[type=submit] {
        background-color: #0c0;
        color: white;

        &.disabled, &[disabled] {
            background-color: #beb;
        }
    }
    
    &.warning {
        background-color: #f80;
        color: white;

        &.disabled, &[disabled] {
            background-color: #beb;
        }
    }


    &.deny, &.delete {
        background-color: #c00;
        color: white;
        
        &.disabled, &[disabled] {
            background-color: #ebb;
        }
    }

    &.grow {
        position: relative;

        &, span, .content {
            transition: all .5s ease-in-out .5s, opacity .1s ease-in-out .9s;
        }

        .content {
            z-index: 5;
            position: absolute;
            left: 0;
            bottom: 0;
            clip-path: circle(0% at 0% 100%);
            border-radius: $global-radius;
            opacity: 0; // added for incompatibilty problems
        }

        &:active, &:hover, &:focus {
            &, span, .content {
                transition: all .5s ease-in-out, opacity .1s ease-in-out;
            }
            span {
                opacity: 0;
            }
            .content {
                clip-path: circle(75%);
                opacity: 1;
            }
        }
    }
}