.button {
    background-color: white;
    color: white;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: $global-radius;
    cursor: pointer;
    
    &.disabled, &[disabled] {
        cursor: not-allowed;
    }
    
    &.confirm, &.add {
        background-color: #0c0;
        color: white;

        &.disabled, &[disabled] {
            background-color: #beb;
        }
    }

    &.deny, &.delete {
        background-color: #c00;
        color: white;
        
        &.disabled, &[disabled] {
            background-color: #ebb;
        }
    }

    &.secondary {
        background-color: lightgray;
    }
}