main {
    .top {
        display: table;
        width: 100%;
        margin-bottom: 0.25rem;

        .subtop {
            display: table-row;
        }

        * {
            display: table-cell;
            vertical-align: baseline;
        }

        h3 {
            margin-right: 0;
        }

        .subtitle {
            color: darkgray;
        }

        .buttons {
            margin-left: auto;
            width: 1px;
            white-space: nowrap;
        }
    }
}