table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;

    // Caption
    caption {
        padding: $table-padding;
        font-weight: $global-weight-bold;
    }

    thead {
        border-bottom: 2px solid smart-scale($table-background, $table-color-scale);
    }
    
    tfoot {
        border-top: 2px solid smart-scale($table-background, $table-color-scale);
    }

    // Table head and foot
    thead,
    tfoot {
        // Cells within head and foot
        th,
        td {
            padding: $table-padding;
            font-weight: $global-weight-bold;
            text-align: #{$global-left};
            white-space: nowrap;
        }
    }

    // Table rows
    tbody {
        th,
        td {
            padding: $table-padding;
        }
    }


    tbody {
        th {
            width: 40%;
            text-align: left;
        }
    }
}

@include breakpoint(small only) {
    table {
        @include table-stack();
        tr {
            padding: 4px 0;
            
            &:not(:last-child) {
                border-bottom: 1px solid smart-scale($table-background, $table-color-scale);
            }
        }
        td, th {
            padding-top: 0;
            padding-bottom: 0;
            width: 100%;
        }
    }
}
@include breakpoint(medium) {
    .table {
        @include table-scroll;
    }
}