{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Personen' %}
    
    {% block top %}
        {% embed 'admin/listview.html.twig' %}
            {% set resultcount = persons|length %}
            
            {% block buttons %}
            <a href="{{ path("admin_person_new") }} ">Nieuw</a>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endif %}


{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{{ path("admin_person_show", { 'id': person.id }) }}">{{ person.canonical }}</a></td>
                    <td>{{ person.email }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen personen.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}