{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = person.canonical %}

    {% block buttons %}
        <a href="{{ path('admin_person_edit', { 'id': person.id }) }}">Bewerken</a>
        <a href="{{ path('admin_person_delete', { 'id': person.id }) }}">Verwijderen</a>
    {% endblock %}
{% endif %}

{% block body_wrap %}
    <div class="tabs">
        <input type="radio" name="tabs" id="details" checked>
        <label for="details" class="tab">
            <span>Details</span>
        </label>
        <div class="panel">
            <div class="card">
                {% include 'admin/person/show/details.html.twig' %}
            </div>
        </div>
        
        <input type="radio" name="tabs" id="advanced">
        <label for="advanced" class="tab">
            <span>Geavanceerd</span>
        </label>
        <div class="panel">
            <div class="card">
                {% include 'admin/person/index/advanced.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
