{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Account van ' ~ account.canonical ~ 'verwijderen' %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        <div>
            <p>Weet je dit zeker?</p>
        </div>
        {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit">Ja, verwijder</button>
                <a href="{{ path('admin_security_show', { 'id': account.id }) }}">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
