{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Bewerk account van ' ~ account.canonical %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit" class="rounded px-4 py-3 text-white bg-green-500 inline-block">Opslaan</button>
                <a href="{{ path('admin_security_show', { 'account': account.id }) }}" class="rounded px-4 py-3 text-white bg-gray-500 inline-block">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}