{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Veld "' ~ field.name ~ '" verwijderen'  %}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        <div>
            <p>Weet je dit zeker?</p>
        </div>
        {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit">Ja, verwijder</button>
                <a href="{{ path('admin_person_index') }}">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
