{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Bewerk groep' %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit">Opslaan</button>
                <a href="{{ path('admin_group_show', { 'id': group.id }) }}">Annuleren</a>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}