.button {
    color: $anchor-color;
    border: 1px solid $anchor-color;
    display: inline-block;
    padding: .5rem;
    border-radius: $global-radius;
    &:hover, &:focus, &:active {
        color: $anchor-color-hover;
        border-color: $anchor-color-hover;
    }
}