<div class="table">
    <table>
        <thead>
            <tr>
                <th>Schema's met dit schema type</th>
            </tr>
        </thead>
        <tbody>
        {% for scheme in schemes|sort((a, b) => a.name <=> b.name) %}
            <tr>
                <td><a href="{{ path("admin_document_scheme_show", { 'id': scheme.id }) }}">{{ scheme.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td>Geen schema's met dit type.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>