name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Generate hashes for release assets
        uses: MCJack123/ghaction-generate-release-hashes@v1
        id: gen-hashes
        with:
          hash-type: sha512
          file-name: hashes.txt
          
      - name: Upload Asset Hashes
        id: upload-asset-hashes
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: hashes.txt
          asset_name: hashes.txt
          asset_content_type: text/plain
