<h1>Instructies wachtwoord vergeten</h1>
<p>We hebben het verzoek ontvangen om je {{ org }} account te resetten. <a href="{{ url('password_reset', { 'id': auth.person.id, 'token': token }) }}">Klik hier</a> om een nieuw wachtwoord aan te maken. Deze link verloopt na 24 uur.</p>
<p>Werkt deze knop niet? Kopieer dan de volgende link in je browser: <a href="{{ url('password_reset', { 'id': auth.person.id, 'token': token }) }}">{{ url('password_reset', { 'id': auth.person.id, 'token': token }) }}</a>
<p>Mocht je dit verzoek niet zelf gedaan hebben, dan kun je deze mail negeren.</p>