<h1>Instructies wachtwoord vergeten</h1>
<p>We hebben het verzoek ontvangen om je {{ org }} account te resetten. Er is echter geen account geregistreerd op dit e-mailadres. Heb je misschien een ander e-mailadres gebruikt? </p>
<p>Mocht je dit verzoek niet zelf gedaan hebben, dan kun je deze mail negeren.</p>